<ion-header>
  <ion-navbar primary>
    <ion-title>Panel</ion-title>
    <ion-buttons end>
      <button (click)='signalK.obtainServerAddrManually(true)'>
        <ion-icon *ngIf='signalK.connected' style='color: green;' name='wifi'></ion-icon>
        <ion-icon *ngIf='!signalK.connected' style='color: red;' name='wifi'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <table class='fullWidth'>
    <tr>
      <td colspan='2' class='fullWidth center padding-top'>
        <canvas #windSpeed id="windSpeed" width="100" height="100"></canvas> 
      </td>
    </tr>
    <tr>
      <td class='halfWidth center padding-top'><canvas #wind id="wind" width="100" height="100"></canvas></td>
      <td class='halfWidth center padding-top'><canvas #speed id="speed" width="100" height="100"></canvas></td>
    </tr>
    <tr>
      <td class='halfWidth center padding-top'><canvas #compass id="compass" width="100" height="100"></canvas></td>
      <td class='halfWidth center padding-top'><canvas #depth id="depth" width="100" height="100"></canvas></td>
    </tr>
  </table>
</ion-content>
